div.c-phone(class="hide(max-sm)")
    img.c-phone__screen(src="https://asistapl.github.io/assets/exporia/fsi/phone.png" alt="iPhone")
    img.c-phone__card(src="https://asistapl.github.io/assets/exporia/card/card.png" alt="Karta rabatowa Exporia")

a.link(href="https://codepen.io/asistapl" target="_blank") Check out my other animations